@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #111;
    color: #fff;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

h1 {
    font-weight: bold;
}

p {
    margin: 10px 0;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#111;
    color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: blue 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar h1 {
    font-weight: normal;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background: url(../assets/images/codebackground.jpg) no-repeat center center/cover;
    padding: 0 20px;
}

.content-item {
    padding: 15px 0;
}

.about-content p {
    max-width: 600px;
    text-align: justify;
}

.nb-image {
    border-radius: 50%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: rgb(18, 18, 109);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    padding: 1.5rem;
    height: 7.5vh;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
}
  
footer a {
    font-size: 2.5rem;
    color: blue;
}
  
footer a:hover {
    color: #fff;
}